@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

body {
  color: black;
  background-color: white;

  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;

  padding: 1rem;
}

/* Gaps between adjacent elements. */

:root {
  --vertical-gap: 1rem;
  --horizontal-gap: 1rem;
}

body * + * {
  margin-top: var(--vertical-gap);
}

/* Put the footer at the bottom of the content or the bottom of the viewport,
 * whichever is lower.
 */

body {
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* Headings. */

h1 { font-size: 2.4883rem; }
h2 { font-size: 2.0736rem; }
h3 { font-size: 1.7280rem; }
h4 { font-size: 1.4400rem; }
h5 { font-size: 1.2000rem; }
h6 { font-size: 1.0000rem; }

h2, h3, h4, h5, h6 {
  /* Top padding proportional to heading font size. */
  padding-top: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  /* Reduce line height, since there is already padding. */
  line-height: 1;
}

h1 {
  text-align: center;
}

/* Center the second child element between the first and third child. */

.center-container {
  display: flex;
  flex-flow: row wrap;
}

.center-container > * + * {
  margin-top: 0;
}

.center-container > :nth-child(1), .center-container > :nth-child(3) {
  white-space: nowrap;
  flex: 1 1 0;
}

.center-container > :nth-child(1) {
  text-align: right;
}

.center-container > :nth-child(2) {
  margin-left: var(--horizontal-gap);
  margin-right: var(--horizontal-gap);
}

/* Stack vertically for narrow displays. */

@media (max-width: 40rem) {
  .center-container {
    flex-flow: column nowrap;
    --vertical-spacing: 0.5rem;
  }

  .center-container > * + * {
    margin-top: var(--vertical-spacing);
  }

  .center-container > :nth-child(1) {
    text-align: left;
  }

  .center-container > :nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Yapp ID form. */

label, input, button {
  font: inherit;
  line-height: 1.5;
}

#yapp-id-input {
  width: 100%;
  max-width: 15em;
}

#yapp-id-submit {
  width: 7.5rem;
}

#schedule, footer {
  padding-top: 0.5rem;
  border-top: 1px solid;
}

/* Footer. */

footer {
  --vertical-gap: 0.5rem;
}

footer p {
  color: gray;
  font-size: 0.8rem;
  line-height: 1.5;
}
